[MESSAGES CONTROL]
disable=invalid-name,logging-format-interpolation,too-many-locals,missing-docstring,line-too-long

[REPORTS]
reports=no

[FORMAT]
max-line-length=80
single-line-if-stmt=no
indent-string='    '
indent-after-paren=4
expected-line-ending-format=LF
